## CONCLUSIONS FROM THE DATA 

###  1-Schools with higher budget per students have the lowest passing overall percentages. 
###  2-Students enrrolled in charter type schools have better performance than students in distric type schools.
###  3-Averages for math scores are lower than average reading scores consisntly throughout the entire data.

In [1]:
# Importing python libraries 
import pandas as pd
import numpy as np

In [2]:
# Loading the data for analysis 

Schools_Data_df = "resources/schools_complete.csv"
Students_Data_df= "resources/students_complete.csv"

In [3]:
#read school and students data 

schools_df= pd.read_csv(Schools_Data_df)
students_df= pd.read_csv(Students_Data_df)

schools_df.rename(columns = {'name':'school'}, inplace = True)
schools_df.head()


merged_df = students_df.merge(schools_df, how = 'left', on = 'school')
#students_df.head()

In [4]:
#renames for merge
schools_df.rename(columns = {'name':'school'}, inplace = True)

## District Summary Table

In [5]:
#merging the two data sets by using school names as common key 

# school_complete_data = pd.merge(schools_df,student_df, on=["school_name"], how= "left")
# school_complete_data.head()
# complete_data= schools_df.merge(students_df, on='school', how='left')

# merged_df = pd.merge(schools_df,students_df, on = "name", how="left")
# merged_df.head()

school_data_complete = pd.merge(students_df, schools_df, how="left", on="school")

In [6]:
total_schools = len(schools_df)
total_schools

15

In [7]:
#total numeber of students 
total_students = len(school_data_complete)
total_students

39170

In [8]:
#total number of schools
total_school_budget= schools_df['budget'].sum(numeric_only= False)
total_school_budget

24649428

In [9]:
#math score average
math_avg = students_df['math_score'].mean()
np.round(math_avg, decimals=2)

78.99

In [10]:
#reading score average 
reading_avg = students_df['reading_score'].mean()
np.round(reading_avg, decimals=2)

81.88

In [11]:
# #math score passing percent

passing_math = students_df.loc[students_df['math_score'] >= 70]['math_score'].count()
passing_math

29370

In [12]:
#calculatig math passing percentage 
percent_passing_math = (passing_math/total_students)*100
np.round(percent_passing_math, decimals=2)

74.98

In [13]:
# calculating number of students passing reading
passing_reading = students_df.loc[students_df['reading_score'] >= 70]['reading_score'].count()
passing_reading

33610

In [14]:
#calculating reading passing percentage
percent_passing_reading= np.round((passing_reading/total_students)*100,2)
percent_passing_reading

85.81

In [15]:
#calculating_overall_passing_percentage
overall_passing_rate= np.round((percent_passing_reading + percent_passing_math)/2,2)
overall_passing_rate

80.4

In [16]:
#constructing the new data_frame using dictionaries 
District_df = pd.DataFrame({
                 "Total Schools" : [total_schools],
                 'Total Students':[total_students],
                 "Total Budget" :[total_school_budget],
                 "Average Math Score" :[math_avg],
                 "Average Reading Score" :[reading_avg],
                 "% Passing Math" :[percent_passing_math],
                 "% Passing Reading" :[percent_passing_reading],
                 "Overall Passing Rate" :[overall_passing_rate] }, columns = ["Total Students", "Total Schools", "Total Budget", "Average Math Score", "Average Reading Score","% Passing Math", "% Passing Reading", "Overall Passing Rate"])

District_df.style.format({'Average Math Score': '{:.1f}', 
                         'Average Reading Score': '{:.1f}', 
                        '% Passing Math': '{:.0f}%', 
                         '% Passing Reading':'{:.0f}%', 
                        'Overall Passing Rate': '{:.2f}%',
                         'Total Budget': "${:,}", 
                          'Total Students': "{:,}",})

In [17]:
new_schools_df = schools_df.set_index(["school"])

#Grouping by school to analyzed the data by school 
groupby_school = students_df.groupby("school")

# #school type 
sch_type = new_schools_df["type"]

# #total students 
sch_students= groupby_school['name'].count()

# # Total School Budget 
sch_budget= new_schools_df["budget"]



# # #Per Student Budget 
per_student_bdgt = schools_df.set_index('school')['budget']/schools_df.set_index('school')['size']

## SCHOOL  SUMMARY TABLE

In [18]:




# Create the School Summary dataframe by intializing the starting value
School_Summary_DF=pd.DataFrame({"School Name": schools_df["school"],
                               "School Type":schools_df["type"],
                               "Budget":schools_df["budget"],
                               "Total Students":schools_df["size"]})
# Find the count of student who passed math and reading separately in each school
Count_passing_math = school_data_complete.loc[(students_df['math_score'] >= 70)].groupby(["school"]).count()["math_score"]
Count_passing_reading = school_data_complete.loc[(students_df['reading_score'] >= 70)].groupby(["school"]).count()["reading_score"]
Count_passing_overall = school_data_complete.loc[(school_data_complete['math_score'] >=70) 
                                           & (school_data_complete['reading_score'] >=70)].groupby(["school"]).count()["Student ID"]
# Create a temporary dataframe to store the calculated values
temp_df=pd.DataFrame({"Avg Math Score": school_data_complete.mean()["math_score"],
                "Avg Reading Score": school_data_complete.mean()["reading_score"],
                "Count of Passing Math": Count_passing_math,
                "Count of Passing Reading":Count_passing_reading,
                "Count of Passing Overall":Count_passing_overall})
# Reset the index so school becomes a column
temp_df.reset_index(inplace=True)
# Rename the column school before merging
temp_df = temp_df.rename(columns={"school":"School Name"})
# Merge both the Summary dataframe and the temporary dataframe on School Name
School_Summary_DF=pd.merge(School_Summary_DF,temp_df,how="outer",on="School Name")
# Calculate the remaining values
School_Summary_DF["% Passing Math"]=(School_Summary_DF["Count of Passing Math"]/School_Summary_DF["Total Students"])*100
School_Summary_DF["% Passing Reading"]=(School_Summary_DF["Count of Passing Reading"]/School_Summary_DF["Total Students"])*100
School_Summary_DF["% Passing Overall"]=(School_Summary_DF["Count of Passing Overall"]/School_Summary_DF["Total Students"])*100
# Drop the columns after computation
School_Summary_DF.drop(["Count of Passing Math","Count of Passing Reading","Count of Passing Overall"],axis=1,inplace=True)
# Set the index as School Name
School_Summary_DF.set_index("School Name",inplace=True)

School_Summary_DF.head()

,Budget,School Type,Total Students,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Passing Overall
School Name,,,,,,,,
Huang High School,1910635,District,2917,78.985371,81.87784,65.683922,81.316421,53.513884
Figueroa High School,1884411,District,2949,78.985371,81.87784,65.988471,80.739234,53.204476
Shelton High School,1056600,Charter,1761,78.985371,81.87784,93.867121,95.854628,89.892107
Hernandez High School,3022020,District,4635,78.985371,81.87784,66.752967,80.862999,53.527508
Griffin High School,917500,Charter,1468,78.985371,81.87784,93.392371,97.138965,90.599455

## TOP 5 PERFORMING SCHOOLS

In [19]:
#top 5 Peforming Schools 

top_5 = School_Summary_DF.sort_values(by="% Passing Overall",ascending=False)
top_5.head()

,Budget,School Type,Total Students,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Passing Overall
School Name,,,,,,,,
Cabrera High School,1081356,Charter,1858,78.985371,81.87784,94.133477,97.039828,91.334769
Thomas High School,1043130,Charter,1635,78.985371,81.87784,93.272171,97.308869,90.948012
Griffin High School,917500,Charter,1468,78.985371,81.87784,93.392371,97.138965,90.599455
Wilson High School,1319574,Charter,2283,78.985371,81.87784,93.867718,96.539641,90.582567
Pena High School,585858,Charter,962,78.985371,81.87784,94.594595,95.945946,90.540541

## BOTTOM 5 PERFORMING SCHOOLS

In [20]:
#bottom 5 

bottom_5 = School_Summary_DF.sort_values(by = '% Passing Overall', ascending= True)
bottom_5.head()

,Budget,School Type,Total Students,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Passing Overall
School Name,,,,,,,,
Rodriguez High School,2547363,District,3999,78.985371,81.87784,66.366592,80.220055,52.988247
Figueroa High School,1884411,District,2949,78.985371,81.87784,65.988471,80.739234,53.204476
Huang High School,1910635,District,2917,78.985371,81.87784,65.683922,81.316421,53.513884
Hernandez High School,3022020,District,4635,78.985371,81.87784,66.752967,80.862999,53.527508
Johnson High School,3094650,District,4761,78.985371,81.87784,66.057551,81.222432,53.539172

## MATH SCORES BY GRADE

In [21]:
#Math Scores by Grade 


#creates grade level average math scores for each school 
#creates grade level average math scores for each school 
ninth_grade_math = students_df.loc[students_df['grade'] == '9th'].groupby('school')['math_score'].mean()
tenth_grade_math = students_df.loc[students_df['grade']== '10th'].groupby('school')['math_score'].mean()
eleventh_grade_math= students_df.loc[students_df['grade']== '11th'].groupby('school')['math_score'].mean()
twelveth_grade_math= students_df.loc[students_df['grade']=='12th'].groupby('school')['math_score'].mean()

math_scores_by_grade = pd.DataFrame({ '9th': ninth_grade_math,
                                     '10th': tenth_grade_math, 
                                     '11th':eleventh_grade_math, 
                                     '12th':twelveth_grade_math})

math_scores_by_grade= math_scores_by_grade[['9th', '10th', '11th', '12th']]
math_scores_by_grade.index.name = "School Name"

#format
math_scores_by_grade.style.format({'9th': '{:.1f}', 
                             "10th": '{:.1f}', 
                             "11th": "{:.1f}", 
                             "12th": "{:.1f}"})

## READING SCORES BY GRADE

In [22]:
#Reading Scores by Grade 
#creates grade level average reading scores for each school 

ninth_grade_reading = students_df.loc[students_df['grade'] == '9th'].groupby('school')["reading_score"].mean()
tenth_grade_reading = students_df.loc[students_df['grade']== '10th'].groupby('school')["reading_score"].mean()
eleventh_grade_reading= students_df.loc[students_df['grade']== '11th'].groupby('school')["reading_score"].mean()
twelveth_grade_reading= students_df.loc[students_df['grade']=='12th'].groupby('school')["reading_score"].mean()

reading_scores_by_grade = pd.DataFrame({ '9th': ninth_grade_reading,
                                     '10th': tenth_grade_reading, 
                                     '11th':eleventh_grade_reading, 
                                     '12th':twelveth_grade_reading})

reading_scores_by_grade= reading_scores_by_grade[['9th', '10th', '11th', '12th']]
reading_scores_by_grade.index.name = "School Name"

#style
reading_scores_by_grade.style.format({'9th': '{:.1f}', 
                             "10th": '{:.1f}', 
                             "11th": "{:.1f}", 
                             "12th": "{:.1f}"})

## SCHOOLS BY SPENDING

In [23]:
# School_df= District_df
# School_df["Spending Ranges (per student)"] = pd.cut(per_student_bdgt, 
#                                                     bins=spending_bins, labels=group_names)

categories = [0, 585, 615, 645, 675]

group_name = ['< $585', "$585 - 615", "$615 - 645", " $645-675"]

merged_df['spending_bins'] = pd.cut(merged_df['budget']/merged_df['size'], categories, labels = group_name)

#group by spending
by_spending = merged_df.groupby('spending_bins')

#calculations
avg_math = by_spending['math_score'].mean()
avg_read = by_spending['reading_score'].mean()
pass_math = merged_df[merged_df['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
pass_read = merged_df[merged_df['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
overall= (pass_math + pass_read)/2
            
# Score by spending data frame            
scores_by_spend = pd.DataFrame({
    "Average Math Score": round(avg_math, 1),
    "Average Reading Score": round (avg_read, 1),
    '% Passing Math': round(pass_math,2),
    '% Passing Reading': round(pass_read,2),
    "Overall Passing Rate": round(overall, 2)
            
})
            
#Organizing columns
scores_by_spend = scores_by_spend[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]

scores_by_spend.index.name = "Spending Ranges (Per Student)"
scores_by_spend = scores_by_spend.reindex(group_name)

#style 
scores_by_spend.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.0%}', 
                              '% Passing Reading':'{:.0%}', 
                              'Overall Passing Rate': '{:.0%}'})

## SCORES BY SCHOOLS SIZE

In [24]:

# create size bins
bins = [0, 1000, 2000, 5000]
group_name = ["Small (<1000)", "Medium (1000-2000)" , "Large (>2000)"]
merged_df['size_bins'] = pd.cut(merged_df['size'], bins, labels = group_name)

#group by spending
by_size = merged_df.groupby('size_bins')

#calculations 
avg_math = by_size['math_score'].mean()
avg_read = by_size['math_score'].mean()
pass_math = merged_df[merged_df['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()
pass_read = merged_df[merged_df['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()
overall = (pass_math + pass_read)/2

            
# df build            
scores_by_size = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
            
})
            
#reorder columns
scores_by_size = scores_by_size[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]

scores_by_size.index.name = "Total Students"
scores_by_size = scores_by_size.reindex(group_name)

#style
scores_by_size.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})

## SCORES BY SCHOOL TYPE

In [25]:
# group by type of school
by_type = merged_df.groupby("type")

#calculations 
avg_math = by_type['math_score'].mean()
avg_read = by_type['math_score'].mean()
pass_math = merged_df[merged_df['math_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()
pass_read = merged_df[merged_df['reading_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()
overall= (pass_math + pass_read)/2
# DataFrame            
scores_by_type = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall})
    
#reorder columns
scores_by_type = scores_by_type[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]
scores_by_type.index.name = "Type of School"


#style 
scores_by_type.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})