In [1]:
# Importing python libraries 
import pandas as pd
import numpy as np

In [2]:
# Loading the data for analysis 

Schools_Data_df = "resources/schools_complete.csv"
Students_Data_df= "resources/students_complete.csv"

In [3]:
#read school and students data 

schools_df= pd.read_csv(Schools_Data_df)
students_df= pd.read_csv(Students_Data_df)

In [4]:
students_df.head(10)

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [5]:
schools_df.head()

   School ID                   name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [6]:
#renames for merge
schools_df.rename(columns = {'name':'school'}, inplace = True)
schools_df.head()

   School ID                 school      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [7]:
#merging the two data sets by using school names as common key 

# school_complete_data = pd.merge(schools_df,student_df, on=["school_name"], how= "left")
# school_complete_data.head()
# complete_data= schools_df.merge(students_df, on='school', how='left')

# merged_df = pd.merge(schools_df,students_df, on = "name", how="left")
# merged_df.head()

school_data_complete = pd.merge(students_df, schools_df, how="left", on="school")
school_data_complete.head()

,Student ID,name,gender,grade,school,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [8]:
print(school_data_complete.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39170 entries, 0 to 39169
Data columns (total 11 columns):
Student ID       39170 non-null int64
name             39170 non-null object
gender           39170 non-null object
grade            39170 non-null object
school           39170 non-null object
reading_score    39170 non-null int64
math_score       39170 non-null int64
School ID        39170 non-null int64
type             39170 non-null object
size             39170 non-null int64
budget           39170 non-null int64
dtypes: int64(6), object(5)
memory usage: 3.6+ MB
None

In [9]:
#total number of schools 
total_schools = len(school_data_complete['school'].unique().tolist())
total_schools

15

In [10]:
#total numeber of students 
total_students = len(school_data_complete['name'].tolist())
total_students

39170

In [11]:
#total number of schools
total_school_budget= schools_df['budget'].sum(numeric_only= False)
total_school_budget

24649428

In [12]:
#math score average
math_avg = students_df['math_score'].mean()
np.round(math_avg, decimals=2)

78.99

In [13]:
#reading score average 
reading_avg = students_df['reading_score'].mean()
np.round(reading_avg, decimals=2)

81.88

In [14]:
# #math score passing percent
# math_passing = school_data_complete['math_score']>70 
# math_passing

passing_math = students_df.loc[students_df['math_score'] >= 70]['math_score'].count()
passing_math

29370

In [15]:
#calculatig math passing percentage 
percent_passing_math = (passing_math/total_students)*100
np.round(percent_passing_math, decimals=2)

74.98

In [16]:
# calculating number of students passing reading
passing_reading = students_df.loc[students_df['reading_score'] >= 70]['reading_score'].count()
passing_reading

33610

In [17]:
#calculating reading passing percentage
percent_passing_reading= np.round((passing_reading/total_students)*100,2)
# np.round(percent_passing_reading , decimals= 2 )

In [18]:
#calculating_overall_passing_percentage
overall_passing_rate= np.round((percent_passing_reading + percent_passing_math)/2,2)
overall_passing_rate

80.4

In [19]:
#constructing the new data_frame using dictionaries 
District_df = pd.DataFrame({
                 "Total Schools" : [total_schools],
                 'Total Students':[total_students],
                 "Total Budget" :[total_school_budget],
                 "Average Math Score" :[math_avg],
                 "Average Reading Score" :[reading_avg],
                 "% Passing Math" :[percent_passing_math ],
                 "% Passing Reading" :[percent_passing_reading],
                 "Overall Passing Rate" :[overall_passing_rate] }, columns = ["Total Students", "Total Schools", "Total Budget", "Average Math Score", "Average Reading Score","% Passing Math", "% Passing Reading", "Overall Passing Rate"])
# d = {'col1': [1, 2], 'col2': [3, 4]}
# df = pd.DataFrame(data= District_df)
# df
District_df

,Total Students,Total Schools,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,39170,15,24649428,78.985371,81.87784,74.980853,85.81,80.4

In [20]:
#building the Data Frame 
# d = {'col1': [1, 2], 'col2': [3,4]}
# df = pd.DataFrame(data= District_df)
# df

School Summary

In [24]:
#Grouping by school to analyzed the data by school 
sch_name =  school_data_complete.set_index('school').groupby(['school'])

#school type 
sch_type = school_data_complete.groupby('school')['type'].unique()

#total students 
sch_students= sch_name['Student ID'].count


# Total School Budget 
sch_budget= school_data_complete.groupby('school')["budget"].count() 



# #Per Student Budget 
per_student_bdgt = schools_df.set_index('school')['budget']/schools_df.set_index('school')['size']
# per_student_bdgt.head() 


#Average Math Score
sch_avg_math = round(school_data_complete.groupby("school")["math_score"].mean(), 2)

# schools_df.loc[students_df['reading_score'] >= 70]['reading_score'].count()

# Average Reading Score
sch_avg_reading = round(school_data_complete.groupby("school")["reading_score"].mean(), 2)

#math and reading  passing 
passing_df = school_data_complete.loc[(school_data_complete['math_score'] >=70) 
                                          & (school_data_complete['reading_score'] >=70)]



# % Passing Math
Prcnt_passing_math = school_data_complete.loc[(students_df['math_score'] >= 70)]/passing_df


# % Passing Reading 
Prcnt_passing_reading= school_data_complete.loc[(students_df["reading_score"]>=70)]

#overall percent passing math 

# pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school')['Student ID'].count()/sch_students
# pass_read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school')['Student ID'].count()/sch_students
# overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('school')['Student ID'].count()/sch_students


# pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school')['Student ID'].count()/sch_students 
# pass_read = school_data_complete[school_data_complete['reading_score'] 
#>= 70].groupby('school')['Student ID'].count()/sch_students
# overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] 
#>= 70)].groupby('school')['Student ID'].count()/sch_students

TypeError: unsupported operand type(s) for /: 'str' and 'str'